<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <h1>Login</h1>
    <form action="submit" method="post"> {% csrf_token %}
        <label>Usuário</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit">Entrar</button>
    </form>

    {% for message in messages %}
    <strong>Erro </strong> {{ message }}
    {% endfor %}
</head>
<body>

</body>
</html>